*.o
*.so
deepstream-test5-analytics
config/peoplenet/*.etlt
config/peoplenet/*.txt
config/peoplenet/*.engine
*.mp4
*.mkv
.DS_Store
*.swp
.vercel
dashboard/.next/
dashboard/node_modules/
.env
dashboard/.env.local
/vercel.json
